# --- GİZLİ ŞİFRELER ---
.env

# --- WIREGUARD ÖZEL DOSYALARI (KRİTİK) ---
wg0.conf
wg0.json
config.json
wireguard/

# --- DOCKER DATA KLASÖRLERİ (Volume) ---
adguard_conf/
adguard_work/
npm_data/
npm_letsencrypt/
uptime_kuma_data/

# --- GEREKSİZ SİSTEM DOSYALARI ---
node_modules/
vpn_env/
__pycache__/
*.log
.DS_Store
venv/
