# WireGuard verileri ve anahtarları (GÜVENLİK İÇİN GİZLE)
wg0.conf
wg0.json
lib/
public/

# AdGuard verileri (Loglar ve geçici dosyalar)
adguard_work/
adguard_conf/

# Docker verileri
.env

adguard_work/
adguard_conf/
wg0.conf
wg0.json
